h1
{
	font-family: cambria;
	text-align: center;
}

label
{
	display: inline-block;
	width:105px;
	text-align:center;
}

label[id="lblmessage"]
{
	display:incline-block;
	width:25%;
	color:blue;
	text-align: left;
	
}

button[id="btnsubmit"]
{
	display:incline-block;
	width:4%;
	margin-left: 11%
	
}
